body {
  background-color: rgb(247,249,252);
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}

.mooovie-logo {
  width: 107px;
  height: 140px;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-body > .textbox-style {
  width: 60%;
  max-width: 633px;
  margin: 0px auto;
}

.theatre-info-content {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}

.theatre-info-content > ul {
  /* margin: 5%; */
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

.movie-rating {
  font-size: 10pt;
  color: rgb(96, 96, 96);
}

.showtime {
  text-align: center;
  font-weight: bold;
}

.nav-bar-format {
  width: 60%;
  max-width: 633px;
  margin: 0px auto;
}

.nav-pills > li > button.active {
  background-color: #86beee !important;
}

.theatre-card-size {
  width: 85%;
  margin: 0px auto;
  max-width: 633px;
  max-height: 306px;
}

.movie-card-img { 
  margin: 4%; 
  height: 95%;
}

.movie-time-format {
  margin-top: 7.5%;
}

.rating-filter-dropbox {
  width: 50%;
  margin: 7.5px auto;
}

.time-text {
  word-wrap: break-word;
}

.dropbox-label {
  display: block;
  text-align: center;
}

.rating-dropbox {
  margin: 0px auto;
  width: 100%;
  max-width: 550px;
}

@media (max-width: 767px) {

  .content-body > .textbox-style { 
    width: 70%;
    margin: 0px auto;
  }

  .tab-format {
    width: 100%;
  }

  .nav-item > button {
    width: 100%;
  }
  
  .theatre-card-size {
    /* width: 30%; */
    width: 250px;
    height: 500px;
    margin: 0px auto;
  }
  
  .movie-card-img { 
    height: 95%;
    margin: 0%;
  }
}

@media (max-width: 400px) {
  
  .content-body > .textbox-style { 
    width: 80%;
    margin: 0px auto;
  }

  .tab-format {
    width: 100%;
  }

  .nav-item > button {
    width: 100%;
  }

  .theatre-card-size {
    width: 75%;
    height: 10%;
    margin: 0px auto;
  }
  
  .movie-card-img { 
    height: 95%;
    margin: 0%;
  }
}

